body {
    margin: 0 20px;
    background-color: #800080;
}
#login {
    margin-right: 60px;
    margin-top: -10px;
  }
  input {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  h1 {
    font-size: 4.0em;
    margin-top: -20px;
  }
  
  p {
    font-size: 3.0em;
    text-align: justify;
    font-family: 'Lato', sans-serif;
  }
  #sign-up {
    width: 70%;
    height: 505px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #f5f7fe;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
  }
  #box {
    width: 1300px;
    height: 90px;
    background: #00c9de;
    margin-top: -60px;
    margin-left: -50px;
  }